.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  position: fixed;
  bottom: 0px;
  width:100%;
  z-index: 102;
  background-color: #0e1315;
  }

  .footer-end {
    align-content: end;
  }
